

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Use Existing Cluster</h5>
          <p class="card-text">Learn how to install Karpenter on an existing cluster.</p>
          <a href="#" class="btn btn-primary">Install Karpenter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create New Cluster</h5>
          <p class="card-text">Create a new cluster on EKS, for use with Karpenter.</p>
          <a href="#" class="btn btn-primary">Create Cluster</a>
        </div>
      </div>
    </div>
  </div>

  